@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
  }
  
  :root {
    font-size: 62.5%;
    height: 100%;
  }
  
  
  body {
    background-color: #1e0e39;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
  }
  
  header {
    height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
  }
  
  header img {
    width: 30rem;
    margin: 2rem;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
  }
  
  a.link {
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    color: white;
  }

  main{
    font-family: 'Fredoka One', cursive;
    margin: 100px;
    color: #8dc63f;
    text-align: center;
  }

  #propaganda{
    text-align: justify;
  }

  #img-main{
    user-select: none;
  }

  
  footer {
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: relative;
    
    width: 100%;
    height: 20%;
  }
  
  footer .col:nth-child(1) img{
    width: 30rem;
  }
  
  footer .col:nth-child(1) p{
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  
  div.col a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
  }
  
  .col {
    margin: 0 5%;
    width: 50rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .col h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
  
  footer .col:nth-child(2) p{
    margin-top: 1rem;
  }
  
  .ico {
    display: flex;
    flex-direction: row;
  }

  #ml {
    margin-left: 220px
  }
  
  /* Media Query (adaptação do layout de acordo com o tamanho limitado) */
  @media (max-width: 770px){
    
    body {
      background-attachment:fixed;
    }
  
    header {
      height: 20rem;
      display: flex;
      flex-direction:column ;
    }
  
    main {
      display: flex;
      justify-content: center;
      height: 100rem;
    }
  
    footer {
      display:flex;
      flex-direction: column;
      align-items: stretch;
      position:relative;
      
      height: 40rem;
      padding: 2.5rem;
    }
  
    div.col:nth-child(1) {
      display: none;
    }
    
    div.col p, h2 {
      font-family: 'Fredoka One', cursive;
    }
  
    div.col h2 {
      font-size: 2rem;
    }
  
    div.col p {
      font-size: 1.2rem;
    }
    
  }