
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body{
    background: #1e0e39;
    overflow-x: hidden;
} 

header{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 290px;
    border-radius: 120px;
}
.menu
      ul{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          gap: 30px;
        
      }
      li{ display: flex;
          flex-direction: row;
          margin: 10px;

      }
      a{ 
        text-decoration: none;
        color: #ffff;
        font-family: 'Fredoka One', cursive;
        font-size: 18px;
}
.equipe{
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding-top: 80px;
    margin-left: 260px;

}
#ftequipe{
     display: flex;
     flex-direction: column;
     margin-right: 300px;
     margin-top: 50px;
}   



  




      
